<%= favorite_posts.each do |post| %>
    <%= image_tag post.user.avatar_url(48) %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to post.title, topic_post_path(post.topic, post) %>
        </h4>
        <p><%= post.body %></p>
        <small>
          submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
          <%= post.comments.count %> Comments
        </small>
      </div>
    </div>
<% end %>